[submodule "nest-teslo"]
	path = nest-teslo
	url = https://github.com/Neno2113/nest-teslo.git
[submodule "git-history-backend"]
	path = git-history-backend
	url = https://github.com/Neno2113/git-history-backend.git
